body{
  background: rgb(34,195,185);
  background: linear-gradient(0deg, rgba(34,195,185,0.6616771708683473) 0%, rgba(45,253,181,1) 100%);
  overflow-y: hidden;
}

h1{
  text-align: center;
}

.formContainer{
  height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.formContainer form{
  background-color: #f8ecec;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
}

.uiForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height:400px;
}

.formField{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
}

button{
  background-color: #0e528d;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}